In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('iris.data', header=None)
df.sample(10)

       0    1    2    3                4
7    5.0  3.4  1.5  0.2      Iris-setosa
83   6.0  2.7  5.1  1.6  Iris-versicolor
136  6.3  3.4  5.6  2.4   Iris-virginica
38   4.4  3.0  1.3  0.2      Iris-setosa
25   5.0  3.0  1.6  0.2      Iris-setosa
14   5.8  4.0  1.2  0.2      Iris-setosa
140  6.7  3.1  5.6  2.4   Iris-virginica
57   4.9  2.4  3.3  1.0  Iris-versicolor
107  7.3  2.9  6.3  1.8   Iris-virginica
62   6.0  2.2  4.0  1.0  Iris-versicolor

In [3]:
def strtoclass(x):
    if x == 'Iris-setosa':
        return 1
    if x == 'Iris-versicolor':
        return 2
    if x == 'Iris-virginica':
        return 3

In [4]:
df[5] = df[4].apply(lambda x: strtoclass(str(x)))

In [5]:
df.head()

     0    1    2    3            4  5
0  5.1  3.5  1.4  0.2  Iris-setosa  1
1  4.9  3.0  1.4  0.2  Iris-setosa  1
2  4.7  3.2  1.3  0.2  Iris-setosa  1
3  4.6  3.1  1.5  0.2  Iris-setosa  1
4  5.0  3.6  1.4  0.2  Iris-setosa  1

In [6]:
df.dtypes

0    float64
1    float64
2    float64
3    float64
4     object
5      int64
dtype: object

In [7]:
df = df.drop([4],axis=1)

In [8]:
df.head()

     0    1    2    3  5
0  5.1  3.5  1.4  0.2  1
1  4.9  3.0  1.4  0.2  1
2  4.7  3.2  1.3  0.2  1
3  4.6  3.1  1.5  0.2  1
4  5.0  3.6  1.4  0.2  1

In [10]:
df.to_csv('new_iris.data',index=False,header=None)